.nav,
.sub-menu-tabs .menu {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  * {
      list-style: none
  }
}

.nav-link,
.sub-menu-tabs .menu a {
  display: inline-block;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text and removes hover/tab effects
  &.disabled {
    color: $nav-disabled-link-color;

    @include plain-hover-focus {
      color: $nav-disabled-link-hover-color;
      cursor: $cursor-disabled;
      background-color: transparent;
    }
  }
}


// Nav inline

.nav-inline {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}


//
// Tabs
//

.nav-tabs,
.sub-menu-tabs .menu {
  border-bottom: 1px solid $nav-tabs-border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  @include clearfix();

  .nav-item,
  .menu-item {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    + .nav-item,
    + .menu-item {
      margin-left: .5rem;
    }
  }

  .nav-link,
  .menu-item a {
    background: $gray-lightest;
    color: $gray;
    display: #000;
    font-weight: 600;
    padding: .9em .9em;
    border: 1px solid $nav-tabs-border-color;

    @include hover-focus {
        background: #000;
        color: #fff;
    }

    &.disabled {
      @include plain-hover-focus {
        color: $nav-disabled-link-color;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }

  .nav-link.active,
  .current-menu-item a {
      @include plain-hover-focus {
      color: $brand-primary;
      background-color: #fff;
      border-bottom-color: #fff;
      position: relative;
    }
  }
  .nav-link.active.nav-link-orange,
  .current-menu-item.active a {
      color: $brand-orange;
  }
  .nav-link.active.nav-link-blue {
      color: $brand-info;
  }
}

@include media-breakpoint-down(md) {
    .nav-tabs,
    .sub-menu-tabs .menu {
        align-items: baseline;
        .nav-item + .nav-item,
        .menu-item + .menu-item {
            margin-left: .25rem;
        }    
        .nav-link,
        .menu-item a {
            font-size: .85rem;
            font-weight: 500;
            padding: .5em .45em;
            text-align: center;
        }
    }
}

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

// Lines,
.nav-lines {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    justify-content: center;
    > li {
        margin: 0;
        padding: 0;
    }
    > li > a {
        border-bottom: 3px solid transparent;
        color: $brand-black;
        text-decoration: none;
        padding: 0 .25rem .3rem;
        position: relative;
        text-align: center;
    }
    > li:hover {
        > a {
            background: none;
            border-color: $brand-black;
            color: $brand-black;
            text-decoration: none;
        }
    }
    .active,
    a:focus {
        border-color: $brand-secondary;
        text-decoration: none;
    }
}

@include media-breakpoint-up(lg) {
    .nav-lines {
        > li {
            margin: 0 1em;
            padding: 0 .75rem;  
        }
        > li > a {
            padding: 0 .5rem .3rem;
        }
    }
}