@include media-breakpoint-up(lg) {
    .nav-primary-container {
        display: flex;
        float: right;
    }
}

@include media-breakpoint-down(md) {
    .main-navigation {
        display: none;
    }
    .nav-primary-container {
        display: block;
    }
    .nav-primary-fixed {
        margin: 0 0 10px;
    }
}

.nav-primary,
.nav-secondary {
    display: inline-flex;
    font-family: $font-webfont-three;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-overflow-scrolling: touch;
    > li {
        margin: 0;
        padding: 0;
    }
}

.nav-primary {
    //flex: 1;
    > li {
        > a {
            color: #000;
            display: block;
            font-size: 1rem;
            font-weight: 400;
            text-decoration: none;
            text-transform: uppercase;
            padding: .5rem 0;
            position: relative;
            &:after {
                background: transparent;
                content: '';
                display: block;
                height: 3px;
                left: 0;
                width: 100%;
                position: absolute;
                bottom: -1px;
            }
        }
        &:hover,
        &.current-menu-item,
        &.current-menu-ancestor {
            > a {
                color: $brand-primary;
                &:after {
                    background: $brand-primary;
                }
            }
        }
        &.current-menu-item,
        &.current-menu-ancestor {
            > a {
                &:after {
                    height: 5px;
                }
            }
        }
        + li {
            margin-left: 1rem;
        }
    }
    > li {
        .sub-menu {
            background: #fff;
            border: 1px solid #ccc;
            display: none;
            list-style: none;
            position: absolute;
            min-width: 140px;
            margin: 0;
            padding: 0;
            li {
                border-top: 1px solid #ccc;
                margin: 0;
                padding: 0;
                font-size: .8rem;
                text-align: left;
                &:first-child {
                    border: none;
                }
                a {
                    background: #fff;
                    color: #000;
                    display: block;
                    padding: .5rem 1.2rem;
                    white-space: nowrap;
                }
                
                &:hover a,
                &.current-menu-item a {
                    background: $gray-lightest;
                    color: $gray-dark;
                    text-decoration: none;
                }
            }
        }
        &:hover .sub-menu {
            display: block;   
        }
    }
}

// @include media-breakpoint-down(lg) {
//     .nav-primary  {
//         li a {
//             padding: .9rem .7rem;
//         }
//     }
// }

.nav-secondary {
    border-left: 1px solid rgba(#fff,.35);
    > li {
        border-right: 1px solid rgba(#fff,.35);
    }
    a {
        color: rgba(#fff,.7);
        display: block;
        font-size: 1em;
        padding: .45em .75em;
        transition: all .25s;
        &:hover {
            background: $brand-primary-lighter;
            color: #fff;
            text-decoration: none;
        }
    }
    > li.active a {
        background: $brand-secondary;
    }
}

@include media-breakpoint-down(md) {
    .nav-primary  {
        background: #fff;
        float: none;
        left: 0;
        max-height: calc(100% - 95px);
        right: 0;
        top: 92px;
        position: fixed;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 999;
        > li {
            background: #fff;
            border: 1px solid #ccc;
            float: none;
            > a {
                font-weight: bold;
                text-align: left;
                padding-bottom: .8rem;
                padding-top: .8rem;
            }
            &:hover,
            &.current-menu-item,
            &.current-menu-ancestor {
                > a {
                    &:after {
                        display: none;
                    }
                }
            }
            .sub-menu,
            &:hover .sub-menu {
                border: none;
                display: block;
                position: static;
                li {
                    border: none;
                }
            }
        }
    }
}