@include media-breakpoint-up(lg) {
    .nav-primary-container {
        display: flex;
        float: right;
    }
}

@include media-breakpoint-down(md) {
    .main-navigation {
        display: none;
    }
    .nav-primary-container {
        display: block;
    }
    .nav-primary-fixed {
        margin: 0 0 10px;
    }
}

.nav-primary,
.nav-secondary {
    display: inline-flex;
    //font-family: $font-webfont-three;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-overflow-scrolling: touch;
    > li {
        margin: 0;
        padding: 0;
    }
}

.nav-primary {
    //flex: 1;
    > li {
        > a {
            color: #000;
            display: block;
            font-size: .9rem;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            padding: .85rem 0;
            position: relative;
            &:after {
                background: transparent;
                content: '';
                display: block;
                height: 3px;
                left: 0;
                width: 100%;
                position: absolute;
                bottom: -1px;
            }
        }
        &:hover,
        &.current-menu-item,
        &.current-menu-ancestor {
            > a {
                color: $brand-primary;
                &:after {
                    background: $brand-primary;
                }
            }
        }
        &.current-menu-item,
        &.current-menu-ancestor {
            > a {
                &:after {
                    height: 5px;
                }
            }
        }
        + li {
            margin-left: 1.5rem;
        }
    }
}

// @include media-breakpoint-down(lg) {
//     .nav-primary  {
//         li a {
//             padding: .9rem .7rem;
//         }
//     }
// }

.nav-secondary {
    //border-left: 1px solid rgba(#fff,.35);
    > li {
        //border-right: 1px solid rgba(#fff,.35);
    }
    a {
        color: #fff;
        display: block;
        font-size: .9em;
        font-weight: 700;
        padding: .6em .75em;
        transition: all .25s;
        &:hover {
            //background: rgba(#000,.5);
            background: $brand-primary-lighter;
            color: #fff;
            text-decoration: none;
        }
        &:after {
            background: transparent;
            content: '';
            display: block;
            height: 3px;
            left: 0;
            width: 100%;
            position: absolute;
            bottom: -1px;
        }
    }
    > li.active a {
        background: $brand-secondary;
    }
}

@include media-breakpoint-down(md) {
    .nav-primary  {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 999;
        > li {

            > a {
                padding-bottom: .8rem;
                padding-top: .8rem;
            }
            &:hover,
            &.current-menu-item,
            &.current-menu-ancestor {
    
            }
        }
    }
}