//
// Base styles
//

.btn {
    display: inline-block;
    font-family: $font-family-base;
    font-weight: $btn-font-weight;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: $border-width solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $line-height, $btn-border-radius);
    @include transition(all .2s ease-in-out);

    &,
    &:active,
    &.active {
    &:focus,
    &.focus {
        @include tab-focus();
    }
    }

    @include hover-focus {
        text-decoration: none;
    }
    &.focus {
        text-decoration: none;
    }

    &:active,
    &.active {
        background-image: none;
        outline: 0;
        @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    }

    &.disabled,
    &:disabled,
    fieldset[disabled] & {
        cursor: $cursor-disabled;
        opacity: .65;
        @include box-shadow(none);
    }
}

.btn b,
.btn strong {
    font-weight: 600;
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disaabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

//
// Alternate buttons
//

.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-secondary {
    @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}
.btn-white {
    @include button-variant($btn-white-color, $btn-white-bg, $btn-white-border);
}
.btn-info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
.btn-success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
.btn-warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    color: #000;
}
.btn-danger {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}
.btn-orange {
    @include button-variant(#fff, $brand-orange, $brand-orange);
}
.btn-orange-light {
   @include button-variant(#fff, $brand-orange-light, $brand-orange-light);
}

// Remove all backgrounds
.btn-outline {
    @include button-outline-variant($brand-black,$brand-black,#fff);
}
.btn-inverse-outline {
    @include button-outline-variant(#fff,#fff,$btn-primary-bg);
}
.btn-primary-outline {
    @include button-outline-variant($btn-primary-bg,$btn-primary-bg,#fff);
}
.btn-white-outline  {
    @include button-outline-variant($btn-white-bg,$btn-white-bg,$gray);
}
.btn-secondary-outline {
    @include button-outline-variant($btn-secondary-bg,$btn-secondary-bg,#fff);
}
.btn-info-outline {
    @include button-outline-variant($btn-info-bg,$btn-info-bg,#fff);
}
.btn-success-outline {
    @include button-outline-variant($btn-success-bg,$btn-success-bg,#fff);
}
.btn-warning-outline {
    @include button-outline-variant($btn-warning-bg,$btn-warning-bg,#fff);
}
.btn-danger-outline {
    @include button-outline-variant($btn-danger-bg,$btn-danger-bg,#fff);
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
    font-weight: normal;
    color: $link-color;
    border-radius: 0;
    line-height: 1;

    &,
    &:active,
    &.active,
    &:disabled,
        fieldset[disabled] & {
        background-color: transparent;
        @include box-shadow(none);
    }
    &,
    &:focus,
    &:active {
        border-color: transparent;
    }
    @include hover {
        border-color: transparent;
    }
    @include hover-focus {
        color: $link-hover-color;
        //text-decoration: $link-hover-decoration;
        background-color: transparent;
        opacity: .8;
    }
    &:disabled,
        fieldset[disabled] & {
        @include hover-focus {
            color: $btn-link-disabled-color;
            text-decoration: none;
        }
    }
}

.no-outline:active,
.no-outline:focus {
    outline: none;
}

.text-inverse .btn-link,
.btn-link.text-inverse {
    color: #fff;
}

.btn-link.text-muted {
    color: $text-muted;
    &:hover {
        color: $gray-base;
    }
}

.btn-link.active {
    color: #000;
    font-weight: bold;
}

//
// Button Sizes
//

.btn-xl {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size(($btn-padding-y-lg * 1.25), ($btn-padding-x-lg * 1.25), ($font-size-lg * 1.25), ($line-height-lg * 1.25), $btn-border-radius-xl);
}
.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $line-height-lg, $btn-border-radius-lg);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
}
.btn-xs {
    @include button-size(($btn-padding-y-sm * .8), ($btn-padding-x-sm * .8), ($font-size-sm * .8), $line-height-sm, $border-radius-xs);
}
//
// Block button
//

.btn-block {
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
    margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}

.btn-pill {
    border-radius: 1.3em;
}

.btn-opaque-light {
    background: rgba(#fff,.18);
    &:hover {
        background: rgba(#000,.35);
    }
}

.btn-opaque-dark {
    background: rgba(#000,.18);
    &:hover {
        background: rgba(#000,.35);
    }
}

.btn.disabled,
.btn:disabled,
.btn[disabled] {
    background: #f3f3f3 !important;
    border-color: rgba(#000,.1) !important;
    color: #999 !important;
    text-shadow: none !important;
}

.btn-text {
    background: transparent;
    border: none;
    padding: 0;
    text-align: left;
}

.btn-no-focus {
    &:focus,
    &:active {
        outline: none !important;
    }
}