<!-- Sample pattern, your site's patterns will be different -->
<div class="alert alert-warning">
  <strong>Warning Message!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="javascript:void()" class="alert-link">This is a link</a>. 
</div>

<div class="alert alert-danger">
  <strong>Error Message!</strong> Numquam quos fuga quam suscipit sapiente perferendis magnam. <a href="javascript:void()" class="alert-link">This is a link</a>.
</div>

<div class="alert alert-success">
  <strong>Success Message!</strong> Totam officiis dolorum voluptatibus maxime molestiae iste. <a href="javascript:void()" class="alert-link">This is a link</a>.
</div>

<div class="alert alert-info">
  <strong>Info Message!</strong> Consequatur facere deleniti cumque ducimus maiores nemo. <a href="javascript:void()" class="alert-link">This is a link</a>.
</div>

<h3 class="list-group m-b-sm">Dismissible</h3>
<p class="text-muted">Add a class of <code>.alert-dismissible</code> to the alert and add a close button. To animate alerts when dismissing them, be sure to add the <code>.fade</code> and <code>.in</code> classes.</p>
<div class="alert alert-warning alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>
