<h3 class="sg-h3">Default</h3>
<p>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-white">White</button>
    <button type="button" class="btn btn-orange">Orange</button>
    <button type="button" class="btn btn-orange-light">Orange Light</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
    <button type="button" class="btn btn-primary disabled">Disabled</button>
</p>
<h3 class="sg-h3">Sizing</h3>
<p>
	<button type="button" class="btn btn-primary btn-xl">X-Large</button>
	<button type="button" class="btn btn-primary btn-lg">Large</button>
	<button type="button" class="btn btn-primary">Default</button>
	<button type="button" class="btn btn-primary btn-sm">Small</button>
	<button type="button" class="btn btn-primary btn-xs">X-Small</button>
</p>
<h3 class="sg-h3">Outline Buttons</h3>
<p>
    <button type="button" class="btn btn-outline">Outline</button>
    <button type="button" class="btn btn-primary-outline">Primary</button>
    <button type="button" class="btn btn-info-outline">Info</button>
    <button type="button" class="btn btn-success-outline">Success</button>
    <button type="button" class="btn btn-warning-outline">Warning</button>
    <button type="button" class="btn btn-danger-outline">Danger</button>
</p>
<p class="p-a display-inline-block bg-primary"><button type="button" class="btn btn-white-outline">White Outline</button></p>
<h3 class="sg-h3">Pill Buttons</h3>
<p>
    <button type="button" class="btn btn-primary btn-pill">Primary</button>
    <button type="button" class="btn btn-info btn-pill">Info</button>
    <button type="button" class="btn btn-secondary btn-pill">Secondary</button>
    <button type="button" class="btn btn-white btn-pill">White</button>
    <button type="button" class="btn btn-orange btn-pill">Orange</button>
    <button type="button" class="btn btn-orange-light btn-pill">Orange Light</button>
    <button type="button" class="btn btn-success btn-pill">Success</button>
    <button type="button" class="btn btn-warning btn-pill">Warning</button>
    <button type="button" class="btn btn-danger btn-pill">Danger</button>
</p>
<h6 class="text-uc">Examples</h6>
<p>Buttons with close icons, used for instance to show a series of active filters that the user can remove.</p>
<div class="item-flex">
    <div class="item-flex-main align-items-middle text-center text-lg-left">
        <button class="btn btn-info-outline btn-pill btn-sm">
            Private Practice <span class="circle circle-sm bg-info text-inverse close-circle"><svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
        <button class="btn btn-info-outline btn-pill btn-sm">
            Academics <span class="circle circle-sm bg-info text-inverse close-circle"><svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
         <button class="btn btn-info-outline btn-pill btn-sm">
            Research Career <span class="circle circle-sm bg-info text-inverse close-circle"><svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>
    <div class="text-muted text-normal m-y-sm m-lg-a-0 text-center text-lg-left display-sm-block">279 Total Profiles</div>
</div>