<div class="row">
    <div class="col-md-6">
        <h3 class="m-b-sm h5">Standard Labels</h3>
        <span class="label label-default">Default</span>
        <span class="label label-primary">Primary</span>
        <span class="label label-info">Info</span>
        <span class="label label-orange">orange</span>
        <span class="label label-success">Success</span>
        <span class="label label-warning">Warning</span>
        <span class="label label-danger">Danger</span>
        <h3 class="m-t m-b-sm h5">As Links</h3>
        <a href="javascript:void()" class="label label-default">Default</a>
        <a href="javascript:void()" class="label label-primary">Primary</a>
        <a href="javascript:void()" class="label label-info">Info</a>
        <a class="label label-orange">orange</a>
        <a href="javascript:void()" class="label label-success">Success</a>
        <a href="javascript:void()" class="label label-warning">Warning</a>
        <a href="javascript:void()" class="label label-danger">Danger</a>
        <h3 class="m-t m-b-sm h5">Pill Labels</h3>
        <span class="label label-default label-pill">Default</span>
        <span class="label label-primary label-pill">Primary</span>
        <span class="label label-info label-pill">Info</span>
        <span class="label label-orange label-pill">Orange</span>
        <span class="label label-success label-pill">Success</span>
        <span class="label label-warning label-pill">Warning</span>
        <span class="label label-danger label-pill">Danger</span>
        
	    <h3 class="m-t m-b-sm h5">Outline Labels</h3>
	    <span class="label label-outline label-outline-muted">Low</span>
	    <span class="label label-outline label-outline-default">Medium</span>
	    <span class="label label-outline label-outline-danger">Critical</span>
	    
	    <div class="m-t-sm"><a class="label label-outline label-outline-info label-btn text-uppercase text-xs" href="javascript:void()">
    	    This is a Tag
    	    <button class="btn btn-info btn-label br-a-0">&times;</button>
	    </a>
	    <a class="label label-outline label-outline-info label-btn text-uppercase text-xs" href="javascript:void()">
    	    This is another Tag
    	    <button class="btn btn-info btn-label br-a-0">&times;</button>
	    </a></div>
	</div>
	<div class="col-md-6">
	    <h1>Example heading <span class="label label-default">New</span></h1>
        <h2>Example heading <span class="label label-default">New</span></h2>
        <h3 class="sg-h3">Example heading <span class="label label-default">New</span></h3>
        <h4 class="sg-h4">Example heading <span class="label label-default">New</span></h4>
        <h5>Example heading <span class="label label-default">New</span></h5>
        <h6 class="text-uc">Example heading <span class="label label-default">New</span></h6>
	</div>
</div>