<p><button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" title="Popover Top" data-trigger="focus" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on top
</button>

<button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="right" title="Popover Right" data-trigger="focus" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on right
</button>

<button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" title="Popover Bottom" data-trigger="focus" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on bottom
</button>

<button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="left" title="Popover Left" data-trigger="focus" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on left
</button></p>