// Alerts

@mixin alert-variant($background, $border, $body-color, $link-color) {
  background-color: $background;
  border-color: $border;
  color: $body-color;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($link-color, 10%);
  }
}
