.icon-svg,
.icon {
    display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	vertical-align: -.1em;
}

.btn-xs .icon {
    vertical-align: -.2em;
}

.icon-lg {
    height: 1.5em;
    width: 1.5em;
}

.icon-2x {
    width: 2em;
	height: 2em;
}

.icon-3x {
    width: 3em;
	height: 3em;
}

.icon-4x {
    width: 4em;
	height: 4em;
}

.icon-5x {
    width: 5em;
	height: 5em;
}

.icon-circle-border {
    box-shadow: 0 0 0 2px currentColor;
    border-radius: 50%;
    margin-right: .2rem;
}

.icon-checkmark6 {
    stroke: currentColor;
}

.icon-bubble2 {
	width: 1.1em;
}

.icon-images {
	width: 1.125em;
}

.icon-images2 {
	width: 1.125em;
}

.icon-connection {
	width: 1.25em;
}

.icon-books {
	width: 1.125em;
}

.icon-archive {
	width: 1.0625em;
}

.icon-library {
	width: 1.0625em;
}

.icon-price-tags {
	width: 1.25em;
}

.icon-price-tags2 {
	width: 1.25em;
}

.icon-price-tags3 {
	width: 1.125em;
}

.icon-price-tags4 {
	width: 1.125em;
}

.icon-keyboard {
	width: 1.125em;
}

.icon-rotate-ccw3 {
	width: 1.125em;
}

.icon-rotate-cw3 {
	width: 1.125em;
}

.icon-reply-all {
	width: 1.0625em;
}

.icon-bubbles {
	width: 1.125em;
}

.icon-bubbles2 {
	width: 1.125em;
}

.icon-bubbles3 {
	width: 1.125em;
}

.icon-bubbles4 {
	width: 1.125em;
}

.icon-bubbles5 {
	width: 1.125em;
}

.icon-bubbles6 {
	width: 1.125em;
}

.icon-bubbles9 {
	width: 1.125em;
}

.icon-bubbles10 {
	width: 1.125em;
}

.icon-users {
	width: 1.125em;
}

.icon-users2 {
	width: 1.125em;
}

.icon-users4 {
	width: 1.375em;
}

.icon-hammer-wrench {
	width: 1.25em;
}

.icon-stars {
	width: 1.0625em;
}

.icon-lan3 {
	width: 1.25em;
}

.icon-menu2 {
	width: 1.0625em;
}

.icon-menu4 {
	width: 1.375em;
}

.icon-menu5 {
	width: 1.375em;
}

.icon-menu6 {
	width: 1.375em;
}

.icon-menu8 {
	width: 1.375em;
}

.icon-menu9 {
	width: 1.375em;
}

.icon-menu10 {
	width: 1.375em;
}

.icon-link5 {
	width: 1.0625em;
}

.icon-unlink5 {
	width: 1.0625em;
}

.icon-volume-high {
	width: 1.0625em;
}

.icon-embed2 {
	width: 1.25em;
}

.icon-markup {
	width: 1.5em;
}

.icon-regexp {
	width: 1.3125em;
}

.icon-code {
	width: 1.25em;
}

.icon-youtube2 {
	width: 2.5087890625em;
}